// FONTS
$base_font_size: 10px;
// WIDTH
$site_width: 1170px;
// COLORS
$brand_color: #f0423c;
// Border
$border_gray_1: #dcdcdc;
$border_gray_2: #999999;
$border_gray_3: #cfcfcf;
$border_gray_4: #5c5c5c;
$border_gray_5: #424242;
$border_gray_6: #e5e5e5;
$border_gray_7: #f7f7f7;
// Background
$bckgrnd_white: #ffffff;
$bckgrnd_gray_1: #434343;
$bckgrnd_silver_1: #f7f7f7;
$bckgrnd_black: #000000;
$bckgrnd_black_rgba: rgba(0, 0, 0, 0.7);
// Text
$text_white: #ffffff;
$text_silver_1: #f7f7f7;
$text_silver_2: #fffefe;
$text_gray_1: #999999;
$text_gray_2: #424242;
$text_gray_3: #666666;