.welcome_form {
    text-align: center;
    padding-bottom: 100px;

    .welcome_input {
        @include font(14px, 24px, 'Lato-Bold');
    
        color: $text_white;
        border: 0;
        width: 230px;
        height: 50px;
        background-color: $brand_color;
        text-transform: uppercase;
        cursor: pointer;
    }

}