.categories {
    background-color: $bckgrnd_white;

    &_content {
        @extend %center_block;

        text-align: center;
        padding-bottom: 80px;
    }
    
    .categorie {
        
        &_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        
        &_item {
            position: relative;
            width: 31.62393%;
            height: 225px;
            margin-bottom: 2.564%;
            border: 1px solid $border_gray_6;
            
            &:nth-child(2n) {
                background-color: $border_gray_7;
            }

            &:hover {
                box-shadow: 0 0 10px $border_gray_6;
            }
            
        }
        
        &_title {
            @include font(20px, 24px, 'Exo-Bold');
            
            position: relative;
            text-align: center;

            &_deer  {
                @extend .icon-deer;
            }

            &_camera  {
                @extend .icon-camera;
            }

            &_target  {
                @extend .icon-target;
            }

            &_screen  {
                @extend .icon-screen;
            }

            &_shirt  {
                @extend .icon-shirt;
            }

            &_bag {
                @extend .icon-bag;
            }

            &::before {
                display: block;
                font-size: 65px;
                line-height: 1;
                margin: 45px 0;
            }

            &::after {
                content: "";
                position: absolute;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                border-bottom: 2px solid $border_gray_6;
            }
            
        }
        
        &_link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $text_gray_2;
            text-transform: uppercase;

            &:hover .categorie_title::before {
                opacity: 0.3;
            }

        }

    }

    &_link {
        @include font(14px, 50px, 'Lato-Bold');

        color: $text_white;
        display: inline-block;
        width: 230px;
        background-color: $brand_color;
        text-transform: uppercase;
        cursor: pointer;
    }

}